<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{common/menu :: menu}"></div>

    <div>
        Id: <span th:text="${user.getId()}"></span><br />
        Name: <span th:text="${user.getName()}"></span><br />
        Username: <span th:text="${user.getUsername()}"></span><br />
        Roles:  <th:block th:each="role : ${user.getRoles()}">
                    <span th:text="${role.getLabel()} "></span>&nbsp;
                </th:block><br />
        Enabled: <span th:text="(${user.isEnabled()}) ? 'Yes' : 'No'"></span>
    </div>
</body>
</html>